:root {
  --active-input: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --error-color: hsl(0, 100%, 66%);
  --plain-white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 65%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: hsl(278, 94%, 30%);
}

body {
  font-family: 'Space Grotesk';
  font-size: calc(18rem / 16);
}

button {
  font-family: inherit;
  background-color: var(--very-dark-violet);
  color: var(--plain-white);
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: calc(12rem / 16);
}

input {
  font-family: inherit;
  font-size: calc(15rem / 16);
  letter-spacing: 1px;
}